{% extends 'self_edit_base.html' %}
{% load bootstrapify %}
{% block pform %}
    <form class="form-horizontal"
          method="POST"
          action="{% url 'self_edit_address' %}"
            >
        {% csrf_token %}
        <div class="row">
            {{ form.num | bs_form_input_h:"Numéro"| bs_2col }}
            {{ form.street | bs_form_input_h:"Rue" | bs_2col }}
        </div>
        {{ form.city | bs_form_input_h:"Ville" }}
        {{ form.zipcode | bs_form_input_h:"Code postal" }}
        {{ form.country | bs_form_input_h:"Pays" }}
        <div class="buttons">
            <input class="btn" value="Enregistrer" type="submit">
        </div>
    </form>
{% endblock %}