/notifications/migrations/*
/notification_manager/migrations/*
/utils/templatetags/__init__.py
/forum/migrations/*
/utils/migrations/*
/profiles/migrations/*
/db.sqlite3
/.idea/.name
*.pyc
profiles/*.pyc
*~
.idea
media/*
static/less/*.css
static/less/features/*.css