{% extends 'base.html' %}
{% load utils_filters %}
{% load bootstrapify %}
{% block content %}
    <div class="form-container">
        <form action="{% url 'self_edit_user_profile' %}" method="POST" enctype="multipart/form-data"
              class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_user_name" class="col-sm-2 control-label">Nom d'utilisateur</label>
                {{ form.user_name | form_control | wrap_col:"col-sm-10" | safe }}
            </div>
            <div class="row form-well">
                {{ form.first_name | bs_form_input_h:"Prenom" | bs_2col }}
                {{ form.last_name | bs_form_input_h:"Nom" | bs_2col }}
            </div>
            <div class="form-well">
                {{ form.email | bs_form_input_h:"Email" }}
                {{ form.confirm_email | bs_form_input_h:"Confirmation email" }}
            </div>
            <div class="row form-well">

                {{ form.num | bs_form_input_h:"Num&eacute;ro" | bs_2col }}
                {{ form.street | bs_form_input_h:"Rue" | bs_2col }}
                {{ form.city | bs_form_input_h:"Ville" | bs_2col }}
                {{ form.zipcode | bs_form_input_h:"Code postal"| bs_2col }}
                {{ form.country | bs_form_input_h:"Pays" }}
            </div>
            <div class="row form-well">
                {{ form.dialcode | bs_form_input_h:"Code pays" | bs_2col }}
                {{ form.phone_number | bs_form_input_h:"Num&eacute;ro de t&eacute;l&eacute;phone" | bs_2col }}
            </div>
            <div class="row form-well">
                {{ form.school| bs_form_input_h:"Ecole" | bs_2col }}
                {{ form.studies_domain | bs_form_input_h:"Domaine d'etudes" | bs_2col }}
            </div>
            <div class="form-well">
                <div class="form-group">
                    <label for="id_profile_picture">Photo de profil</label>
                    {{ form.profile_picture }}
                </div>
            </div>
            <input class="btn" type="submit" value="Enregistrer">
        </form>
    </div>
{% endblock %}