{% extends 'base.html' %}
{% load bootstrapify %}
{% block content %}
    <div class="form-container">
        <form action="{% url 'login' %}" method="POST" class="form-horizontal">
            {% csrf_token %}
            {{ form.username | bs_form_input_h:"Nom d'utilisateur" }}
            {{ form.password | bs_form_input_h:"Mot de passe" }}
            <div class="buttons">
                <input type="submit" class="btn" value="Se connecter">
            </div>
        </form>
    </div>
{% endblock %}