{% extends 'base.html' %}

{%  load bootstrapify %}

{% block content %}
    <div class="form-container">
        <form action="{% url 'password_change' %}" method="POST" class="form-horizontal">
            {% csrf_token %}
            {{ form.old_password |bs_form_input_h:"Ancien mot de passe" }}
            {{ form.new_password1 | bs_form_input_h:"Nouveau mot de passe"}}
            {{ form.new_password2 | bs_form_input_h:"Confirmation"}}
            <input class="btn" type="submit" value="Changer de mot de passe">
        </form>
    </div>
{% endblock %}