/* 1 - general panels */
/* 2 - post panels */


.panel-heading.active {
  background-color: @lightest-grey;
  color: @dark-grey;
}

.panel-heading.active:hover {
  background-color: darken(@lightest-grey, 10%);
  color: black;
}

/* Actions in a panel */

.panel > .panel-actions {
  position: relative;
  height: 0;
}

.panel > .panel-actions > a,
.panel > .panel-actions > span {
  display: inline-block;
  float: right;
  height: 45px;
}

.panel > .panel-actions > a {
  background-color: @lightest-grey;
  color: @light-blue;
  padding: 10px 5px 10px 5px;
}

.panel > .panel-actions > a:hover {
  background-color: darken(@lightest-grey, 20%);
  color: @middle-blue;
}

/* 2- Posts in a thread - special class of panel */

.panel--post {
  margin-bottom: 10px;
  position: relative;
}

.panel--post.self {
  color: white;
  background-color: @middle-blue;
  float: right;
  max-width: 200px;
  border-radius: 4px 0 4px 4px;
  margin-right: -10px;
}

.panel--post.other {
  background-color: white;
  color: @dark-grey;
  border-radius: 0 4px 4px 4px;
  margin-left: -10px;
}

.panel--post.other:before {
  content: "";
  width: 0;
  height: 0;
  right: 100%;
  top: 0;
  position: absolute;
  border-right: 26px solid white;
  border-bottom: 13px solid transparent;
}

.panel--post.self:before {
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 0;
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 13px solid @middle-blue;
}

.panel-body--post {
  padding: 5px 10px 5px 10px;
}

.panel-footer--post {
  padding: 0 10px 5px 10px;
  color: @middle-grey;
  font-size: 0.8em;
}

.panel--post.self .panel-footer--post {
  color: @lightest-grey;
}

.panel--post.self .form-control {
  background-color: white;
  color: @dark-grey;
}

.panel-title--post {
  padding: 5px 10px 0 10px;
  font-size: 0.8em;
  font-weight: 600;
}

/* Form at the bottom of the thread */

.panel--post.new {
  background-color: white;
  color: @dark-grey;
  border-radius: 4px;
}

.panel--post.new > form {
  padding: 10px;
}