@lightest-grey: #f5f5f5;
@dark-grey: #2e2e2e;

@middle-blue: #1565C0;
@light-blue: #3399FF;
@lightest-blue: #cbddff;

@light-red: #D32F2F;
@middle-red: #B71C1C;

@light-green: rgb(50, 173, 39);
@middle-green: #388E3C;

@form-input-underline: @middle-blue;
@form-input-search-bg: rgba(255, 255, 255, 0.00);

@form-container-bg: @lightest-grey;
@form-container-fg: @dark-grey;
@form-element-bg: @lightest-blue;
@form-element-focus-bg: @light-blue;