{% extends 'base.html' %}

{%  block content %}

<h1>Ajouter une nouvelle catégorie</h1>

{% if sauvegarde %}
    <p>Cette catégorie a bien été enregistrée.</p>
{% endif %}

<p>

    <form method="post" enctype="multipart/form-data" action="{% url "gallery:new_category"%}">
       {% csrf_token %}
       {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
</p>


    <!-- templates/gallery/photo_list.html -->

<!-- Upload Photos -->
    <form id="add-photos" action="{% url 'ajax_photo_upload_view' album.id %}" class="dropzone">
        {% csrf_token %}
    </form>

{% endblock %}