{% load helper_tags %}
{% load prettify %}

<div class="panel" itemscope itemtype="http://schema.org/DiscussionForumPosting">
    <div class="panel-header">
        {% pretty_user_tag post.author %}
    </div>
    <a href="{{ post.get_absolute_url }}" id="{{ post.id }}">
        <div class="panel-body active-content">
            {{ post.text_content }}
        </div>
    </a>
    <div class="panel-footer small">
        In {% pretty_thread_path post.thread %} on {{ post.posted_date | date }}
    </div>
</div>
