{% load i18n admin_static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load staticfiles %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body>
<div class="page-wrapper">
    <div class="navbar">
        <div class="navbar-header">
            {{ user }}
            {% if user.is_anonymous %}
                <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
            {%  else %}
                <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
<script src="{%  static 'js/jquery.min.js' %}" type="javascript"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="javascript"></script>
</body>
</html>