{% extends 'base.html' %}
{% load helper_tags %}
{% block content %}
    <div class="panel">
        <div class="panel-body">
            Bienvenue {{ user.first_name }} {{ user.last_name }} !
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="panel blue">
                <div class="panel-heading">
                    Tes derniers posts
                </div>
                <div class="panel-body">
                    {% for post_w_a in posts %}
                        <div class="well">
                            <a href="{{ post_w_a.post.thread.category.get_absolute_url }}">
                                {{ post_w_a.post.thread.category.name }}
                            </a>
                            /
                            <a href="{{ post_w_a.post.thread.get_absolute_url }}"> {{ post_w_a.post.thread.title }} </a>
                            :
                            {{ post_w_a.post.text_content }}
                            {% if post_w_a.answers != Null %}
                                {% for answer in post_w_a.answers %}
                                    <p>{% pretty_user_tag answer.author %} {{ answer.text_content }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="panel green">
                <div class="panel-heading">
                    Dernière activité sur le forum
                </div>
                <div class="panel-body">
                    {% for twp in threads_last %}
                        <div class="well">
                            <a href="{% url 'detail_thread_category' twp.thread.category.slug %}">
                                {{ twp.thread.category.name }}
                            </a>
                            /
                            <a href="{% url 'detail_thread' twp.thread.category.slug twp.thread.slug %}">
                                {{ twp.thread.title }}
                            </a> :
                            {% for post in twp.first_posts %}
                                <p>{% pretty_user_tag post.author %} {{ post.text_content }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
