{% extends 'base.html' %}
{% block content %}
    {%  for userprofile in object_list %}
        <div class="panel panel-default">
            <div class="panel-title">
                <a href="{% url 'profile-detail' userprofile.user.id %}"> {{ userprofile.user.username }} </a>
            </div>
        <div class="panel-body">
            <p>First name : {{ userprofile.user.first_name }}</p>
            <p>Last name: {{ userprofile.user.last_name }}</p>
            <p>Email address : {{ userprofile.user.email }}</p>
        </div>
        </div>
    {% endfor %}
{% endblock %}