{% extends 'base.html' %}
{% load helper_tags %}

{% block content %}
    <div id="profiles-list">
        {% input_fuzzy_search %}
        <ul class="list row">
            {% for userprofile in object_list %}
                <div class="col-lg-6">
                    <li class="panel panel-default">
                        <!-- Fuzzy search fields -->
                        <span hidden class="username">{{ userprofile.user.username }}</span>
                        <span hidden class="first_name">{{ userprofile.user.first_name }}</span>
                        <span hidden class="last_name">{{ userprofile.user.last_name }}</span>
                        <a href="{% url 'profile-detail' userprofile.user.id %}">
                            <div class="panel-heading active">
                                {{ userprofile.user.username }}
                            </div>
                        </a>

                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        {% if userprofile.profile_picture != None and userprofile.profile_picture.url != None %}

                                            <img src="/{{ userprofile.profile_picture.url }}" width="100">

                                        {% endif %}
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12">
                                        {{ userprofile.user.first_name }} {{ userprofile.user.last_name }}<br/>
                                        <i class="fa fa-envelope"></i> {{ userprofile.user.email }}<br/>
                                        <i class="fa fa-home"></i> {{ userprofile.address }}<br/>
                                        <i class="fa fa-graduation-cap"></i> {{ userprofile.school }} <br/>
                                        <i class="fa fa-subscript"></i> {{ userprofile.studies_domain }}<br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block extrajs %}
    {% init_fuzzy_search "profiles-list" "'username','first_name','last_name'" %}
{% endblock %}