{% extends 'base.html' %}
{% block content %}
    {% for userprofile in object_list %}
        <div class="panel panel-default">
            <div class="panel-title">
                <a href="{% url 'profile-detail' userprofile.user.id %}" class="h3"> {{ userprofile.user.username }} </a>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            {% if userprofile.profile_picture != None and userprofile.profile_picture.url != None %}

                                <img src="/{{ userprofile.profile_picture.url }}" width="100">

                            {% endif %}
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <p>{{ userprofile.user.first_name }} {{ userprofile.user.last_name }}</p>

                            <p><i class="fa fa-envelope"></i> {{ userprofile.user.email }}</p>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-12">
                            <p><i class="fa fa-home"></i> {{ userprofile.address }}</p>
                            <p><i class="fa fa-graduation-cap"></i> {{ userprofile.school }} </p>
                            <p><i class="fa fa-subscript"></i> {{ userprofile.studies_domain}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}