{% extends 'base.html' %}
{% load bootstrapify %}
{% load utils_filters %}
{% block path %}
    forum /
{% endblock %}
{% block content %}
    <div class="row">
        {% for threadCategory in threadcategory_list %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card white">
                    <div hidden class="panel-actions">
                        {% if request.user.is_superuser %}
                            <a class="action" href="{% url 'delete_category' threadCategory.slug %}"><i
                                    class="fa fa-fw fa-trash"></i></a>
                        {% endif %}
                        <!--<a href="{% url 'follow_category' threadCategory.slug %}">Suivre</a>-->
                    </div>
                    <a href="{{ threadCategory.get_absolute_url }}">
                        <div class="card-title">
                            {{ threadCategory.name }}
                        </div>
                    </a>

                    <div class="card-summary">
                        {{ threadCategory.description }}
                        {{ threadCategory.tags.all | displaytags }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-default" href="{% url 'add_thread_category' %}">
        <i class="fa fa-fw fa-plus-circle"></i> Ajouter un thème
    </a>
{% endblock %}