{% extends 'base.html' %}
{% load bootstrapify %}
{% load utils_filters %}
{% block path %}
    <a href="{% url 'forum' %}">forum</a> /
    {{ thread_category.name }}
{% endblock %}
{% block content %}
    <div>
        {% for thread, following in thread_list.items %}
            <div class="panel panel-default">
                <div class="panel-actions">
                    {% if request.user.is_superuser %}
                        <a href="#"><i class="fa fa-fw fa-trash"></i> </a>
                    {% endif %}
                    {% if not following %}
                        <a href="{% url 'follow_thread' thread.slug %}">
                            <i class="fa fa-fw fa-eye"></i> Suivre
                        </a>
                    {% else %}
                        <a href="{% url 'unfollow_thread' thread.slug %}">
                            <i class="fa fa-fw fa-eye-slash"></i> Ne plus suivre
                        </a>
                    {% endif %}
                </div>
                {% if thread == edit_thread %}
                    <div class="panel-body">
                        <form action="{% url 'detail_thread_category_edit_thread' slug edit_thread.pk %}"
                              method="POST"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ edit_thread_form.title | bs_form_input_h:"Titre" }}
                            {{ edit_thread_form.tags | bs_form_input_h:"Tags" }}
                            <input type="submit" class="btn btn-default" value="Valider" name="edit-thread">
                        </form>
                    </div>
                {% else %}
                    <a href="{{ thread.get_absolute_url }}">
                        <div class="panel-heading active">
                            {{ thread.title }}
                            {% if following %}
                                <span class="tag tag-green"><i class="fa fa-fw fa-eye"></i> abonné </span>
                            {% endif %}
                        </div>
                    </a>
                    <div class="panel-body">
                        {% if thread.tags != None and thread.tags.count > 0 %}
                            Tags : {{ thread.tags.all | displaytags }}
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <a href="{% url 'detail_thread_category_edit_thread' slug thread.pk %}">edit</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div>
        <h3><i class="fa fa-fw fa-plus-circle"></i> Ajouter un thread</h3>

        <form action="{% url 'detail_thread_category' slug %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title | bs_form_input_h:"Titre" }}
            {{ form.tags | bs_form_input_h:"Tags" }}
            <input type="submit" class="btn btn-default" value="Ajouter" name="new-thread">
        </form>
    </div>
{% endblock %}