{% extends 'base.html' %}

{% block content %}
    <h2>{{ thread_category.name }}</h2>
    <p>
        {% for thread in thread_list %}
            <div class="panel">
                <div class="panel-title">
                    {{ thread.title }}
                </div>
                <div class="panel-body">
                    {{ thread.tags }}
                </div>
            </div>
        {% endfor %}
    </p>
    <a class="btn btn-default" href="{% url 'add_thread' %}">Add thread</a>
{% endblock %}